extends ../layouts/main-layout.pug

block styles
    link(rel='stylesheet' href='/css/bootstrap.min.css')
block content
    .main.g-4
    h3 Shopping Cart
    //- TODO: Add Deselect Items Feature
    //- a(href="#") Deselect Items
    //- input(type="checkbox", name="product")

    if products.length  > 0
        ul.container
            each p in products
                li.row.dflex
                    #image.col
                        img(src=p.imageUrl, alt=p.title)
                    #title.col= p.title
                    #qty.col= "Qty: " + p.cartItem.quantity
                    .col
                        form(action="/cart-delete-item" method="POST")
                            button.btn.btn-primary(tpye="submit") Delete
                            input(type='hidden' name='productId' value=p.id)
    else
        h1 No Products in Cart